.home {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 110vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

.home__container {
  width: 100%;
}

.home__social__grp {
  background-color: rgba(200, 200, 200, 0.05);
  padding: 0.5em 0.2em;
  display: inline-block;
  margin: auto;
  border-radius: 30px;
  .home__social {
    padding: 0.2em 1em;
    color: $color;
  }
}

.home__h1 {
  font-size: calc(3.5vw + 1.2rem);
  font-family: "Rubik";
  letter-spacing: 2px;
}

// push animations
.home__h1-contain {
  font-size: 2rem;
  // width: max-content;
  margin: auto;
  .cd-headline {
    display: flex;
    justify-content: center;
    span {
      font-family: "Rubik";
      font-weight: 700;
      font-size: calc(3.8vw + 1rem);
    }
  }
}

.cd-words-wrapper {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 400px;
  b {
    font-weight: inherit;
    color: #c49b66;
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 10%;
    top: 0;
  }
}

.cd-headline.push b {
  position: absolute;
  opacity: 0;
}
.cd-headline.push b.is-visible {
  opacity: 1;
  animation: push-in 0.6s;
}
.cd-headline.push b.is-hidden {
  animation: push-out 0.6s;
}

@keyframes push-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes push-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  60% {
    opacity: 0;
    transform: translateX(110%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media (max-width:650px){
  .cd-words-wrapper{
    &::after{
    content: '\A';
    white-space: pre;
  }
  }
  .home{
    background-position: center center;
  }
}